/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@font-face {
    font-family: Regular;
    src: url(font/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: Bold;
    src: url(font/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: Light;
    src: url(font/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: extra-Light;
    src: url(font/TitilliumWeb-ExtraLight.ttf);
}
@font-face {
    font-family: semi-bold;
    src: url(font/TitilliumWeb-SemiBold.ttf);
}
/* FUENTE-CLASE */
.regular{
    font-family: "Regular";
}
.Bold{
    font-family: "Bold";
}
.light{
    font-family: "light";
}
.semi-bold{
    font-family: "semi-bold";
}
body{
    font-family: "Regular" ;
}
/* COLORES */
:root {
    --magenta: #7723EF;
    --cian: #13FFD4;
    --gris: #F6F6F6;
    --rojo: #FF265A;
    --azul: #323261;
    --amarillo: #FFC726;
    --negro: #333333;
    --azul-claro: #E9EDFF;
    --blanco: #ffffff;
    --gris1: #C2C2C2
}

/* COLOR TEXTO */

.txt-magenta {
    color: var(--magenta);
}

.txt-cian {
    color: var(--cian);
}

.txt-gris {
    color: var(--gris);
}
.txt-gris1 {
    color: var(--gris1);
}

.txt-rojo {
    color: var(--rojo);
}

.txt-azul {
    color: var(--azul);
}

.txt-amarillo {
    color: var(--negro);
}

.txt-azul-claro {
    color: var(--azul-claro);
}
.txt-blanco {
    color: var(--blanco);
}
.txt-negro {
    color: var(--negro);
}


/* BACKGROUND */
.btn{
    text-transform: none;
}

.bg-magenta {
    background-color: var(--magenta);
}

.bg-cian {
    background-color: var(--cian);
}

.bg-gris {
    background-color: var(--gris);
}
.bg-gris1 {
    background-color: var(--gris1);
}

.bg-rojo {
    background-color: var(--rojo);
}

.bg-azul {
    background-color: var(--azul);
}

.bg-amarillo {
    background-color: var(--amarillo);
}

.bg-azul-claro {
    background-color: var(--azul-claro);
}

.bg-negro {
    background-color: var(--negro);
}
.bg-blanco {
    background-color: var(--blanco);
}

/* SIZE TEXTO */
.font-50{
    font-size: 3.125rem;
}
.font-48{
    font-size: 3rem;
}
.font-36{
    font-size: 2.25rem;
}
.font-32{
    font-size: 2rem;
}
.font-24{
    font-size: 1.5rem;
}
.font-20{
    font-size: 1.25rem;
}
.font-19{
    font-size: 1.188rem;
}
.font-18{
    font-size: 1.125rem;
}
.font-16{
    font-size: 1rem;
}
.font-14{
    font-size: 0.875rem;
}
.font-12{
    font-size: 0.75rem;
}
.lh-initial{
    line-height: initial;
}
.lh-1_2{
    line-height: 1.2;
}
.w-10{
    width: 10%;
}
.w-40{
    width: 40px;
}


/* elementos */
.linea-roja{
top: 153px;
left: 165px;
width: 44px;
height: 5px;
background: var(--rojo) 0% 0% no-repeat padding-box;
opacity: 1;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '';
}
.fa-long-arrow-alt-right:before {
    content: "\f30b";
}

/* Cards */

.card-body:hover {
    background-color: var(--blanco);
    border-radius: 16px;
    box-shadow: 0px 5px 15px #0000000D;
}
.card-body a:hover {
    color: var(--rojo);
    text-decoration: underline;
}

h1 h2 h3 h4{
    font-family: 'Titillium Web', sans-serif;
}
hr.hrt{
    height: 5px ;
    width: 44px;
    color: #FF265A;
    opacity: 1
}

.border-radius-16{
    border-radius: 16px;
}

.sin-box-shadow{
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 10%);
}

.vineta{
    width: 8px;
    height: 8px;
    background: var(--rojo) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.borde-blanco{
    border: 1px solid var(--blanco);
    border-radius: 16px;
    opacity: 1;
    padding: 20px;
    min-height: 450px;
}

/* Buttons */
.border-magenta{
    border-color: var(--magenta);
}
.border-magenta:hover{
    background-color: var(--magenta);
    color: var(--blanco);
}
.border-gris1{
    border: 1px solid var(--gris1);
}
.border-blanco{
    border-color: var(--blanco);
}
.border-blanco:hover{
    background-color: var(--blanco);
    color: var(--azul);
}

.w-30{
    width: 30%;
}

/* Form */
form .input-contacto{
    background-color: transparent;
    color: var(--gris1);
    font-size: 0.875rem;
    padding-top: 13px;
    padding-bottom: 13px;
}
form .input-contacto:focus{
    border-color: var(--blanco);
    box-shadow: none;
    background-color: transparent;
    color: var(--gris1);
    font-size: 0.875rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media(max-width:760px)
{
    .borde-blanco{
        margin: 20px;

        min-height: auto;
        }

}
.swiper-button-prev {
    background-image: url("https://image.flaticon.com/icons/png/128/66/66831.png");
  }
  
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
  }
